<ion-view view-title="Signup">
    <ion-content>
        <form ng-submit="vm.signup()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="vm.user.username"/>
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="vm.user.email"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="vm.user.password"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password again" ng-model="vm.user.password2"/>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive">Signup</button>
            </div>
        </form>
    </ion-content>
</ion-view>