<ion-view view-title="Login">
    <ion-content>
        <form ng-submit="vm.login()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="vm.user.username"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="vm.user.password"/>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>