<ion-view view-title="Home">
    <ion-content>
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">{{ vm.error.title }}</div>
                <div class="panel-body">{{ vm.error.content }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>