<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ui-sref="app.home" ui-sref-active="active">
                    Home
                </ion-item>
                <ion-item menu-close ui-sref="app.account" ui-sref-active="active" ng-if="mainVm.isAuthenticated">
                    My Accounts
                </ion-item>
                <ion-item menu-close ui-sref="app.category" ui-sref-active="active" ng-if="mainVm.isAuthenticated">
                    Categories
                </ion-item>
                <ion-item menu-close ui-sref="app.monthly.tab-monthly-table({ year: mainVm.currentYear, month: mainVm.currentMonth })" ui-sref-active="active" ng-if="mainVm.isAuthenticated">
                    Monthly Reports
                </ion-item>
                <ion-item menu-close ui-sref="app.yearly.tab-yearly-table({ year: mainVm.currentYear })" ui-sref-active="active" ng-if="mainVm.isAuthenticated">
                    Yearly Reports
                </ion-item>
                <ion-item menu-close ng-click="mainVm.logout();" ui-sref-active="active" ng-if="mainVm.isAuthenticated">
                    Logout
                </ion-item>
                <ion-item menu-close ui-sref="app.login" ui-sref-active="active" ng-if="!mainVm.isAuthenticated">
                    Login
                </ion-item>
                <ion-item menu-close ui-sref="app.signup" ui-sref-active="active" ng-if="!mainVm.isAuthenticated">
                    Signup
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
