<ion-view view-title="Categories">
    <ion-nav-buttons side="right">
        <button class="button button-stable" ng-click="vm.openCategoryCreateModal()"><i class="icon ion-plus"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-button-right" ng-repeat="category in vm.categories">
                <a ng-click="vm.openCategoryEditModal(category._id);">
                    <i class="{{ category.icon }}"></i>
                    {{ category.name }}
                </a>
                <button class="button button-assertive" ng-click="vm.openCategoryDeleteModal(category._id);"><i class="icon ion-trash-a"></i></button>
            </div>
        </div>
    </ion-content>
</ion-view>