<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Delete?</h1>
        <button class="button button-clear button-primary" ng-click="vm.closeDeleteModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding has-header">
        <p>Are you sure you want to delete this category?</p>
        <div class="row">
            <div class="col"><button class="button button-block button-assertive" ng-click="vm.closeDeleteModal()">No</button></div>
            <div class="col"><button class="button button-block button-balanced" ng-click="vm.deletee()">Yes</button></div>
        </div>
    </ion-content>
</ion-modal-view>