<ion-view view-title="ShinyPocket">
    <ion-content class="padding">
        <h1>ShinyPocket v1.0</h1>
        <p>Coursera - Full Stack Development Specialization Capstone Project</p>
        <blockquote>by Péter Halász</blockquote>
    </ion-content>
</ion-view>
