<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Yearly / Table" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="app.monthly.tab-yearly-table">
        <ion-nav-view name="tab-yearly-table"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Yearly / Pie" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline" ui-sref="app.yearly.tab-yearly-pie">
        <ion-nav-view name="tab-yearly-pie"></ion-nav-view>
    </ion-tab>
</ion-tabs>