<ion-view view-title="Home">
    <ion-content>
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Report</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        Monthly Reports
                        <ul>
                            <li><a ui-sref="reports.monthly({ year: mainVm.currentYear, month: mainVm.currentMonth })" ng-click="mainVm.navCollapsed = true">Table</a></li>
                            <li><a ui-sref="reports.monthlychart({ year: mainVm.currentYear, month: mainVm.currentMonth })" ng-click="mainVm.navCollapsed = true">Pie Chart</a></li>
                        </ul>
                    </li>
                    <li>
                        Yearly Reports
                        <ul>
                            <li><a ui-sref="reports.yearly({ year: mainVm.currentYear })" ng-click="mainVm.navCollapsed = true">Table</a></li>
                            <li><a ui-sref="reports.yearlychart({ year: mainVm.currentYear })" ng-click="mainVm.navCollapsed = true">Pie Chart</a></li>
                        </ul>
                    </li>
                    <li><a ui-sref="reports.cashflow" ng-click="mainVm.navCollapsed = true">Cashflow</a></li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>