<ion-view view-title="Yearly Report / Pie">
    <ion-content class="padding">
        <h2 class="text-center">{{ vm.details.year }}</h2>
        <div class="card">
            <div class="item item-divider">
                Categories
            </div>
            <div class="item-text-wrap">
                <nvd3 options="vm.options" data="vm.data.categories"></nvd3>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Accounts
            </div>
            <div class="item-text-wrap">
                <nvd3 options="vm.options" data="vm.data.accounts"></nvd3>
            </div>
        </div>
</ion-view>