<ion-view view-title="Monthly Report / Table" can-swipe-back="false">
    <ion-content class="padding">
        <h2 class="text-center">{{ vm.details.year }} / {{ vm.details.month }}</h2>
        <div class="card">
            <div class="item item-divider">
                Sum
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <div class="item item icon-left">
                        <i class="fa fa-chevron-up"></i>
                        Incomes
                        <span class="item-note">{{ vm.sum.income }} {{ mainVm.loggedInUser.currency }}</span>
                    </div>
                    <div class="item item icon-left">
                        <i class="fa fa-chevron-down"></i>
                        Expenses
                        <span class="item-note">{{ vm.sum.expense }} {{ mainVm.loggedInUser.currency }}</span>
                    </div>
                    <div class="item item icon-left">
                        <i class="fa fa-university"></i>
                        Balance
                        <span class="item-note">{{ vm.sum.total }} {{ mainVm.loggedInUser.currency }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col"><strong>Date</strong></div>
                <div class="col"><strong>Amount</strong></div>
                <div class="col"><strong>Note</strong></div>
            </div>
            <div class="row" ng-repeat="data in vm.report">
                <div class="col">{{ data.date | date: 'yyyy-MM-dd' }}</div>
                <div class="col"><span ng-if="data.type == 'expense'">-</span>{{ data.amount }} {{ mainVm.loggedInUser.currency }}</div>
                <div class="col">{{ data.note }}</div>
            </div>
        </div>
        <div class="button-bar bar-positive" ng-show="vm.pagination.current">
            <a class="button" ng-class="{disabled: !vm.pagination.prev}" ui-sref="app.monthly.tab-monthly-table({ page: vm.pagination.prev })"><i class="icon ion-arrow-left-a"></i></a>
            <a class="button" ng-class="{disabled: !vm.pagination.next}" ui-sref="app.monthly.tab-monthly-table({ page: vm.pagination.next })"><i class="icon ion-arrow-right-a"></i></a>
        </div>
    </ion-content>
</ion-view>