<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Monthly / Table" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="app.monthly.tab-monthly-table">
        <ion-nav-view name="tab-monthly-table"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Monthly / Pie" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline" ui-sref="app.monthly.tab-monthly-pie">
        <ion-nav-view name="tab-monthly-pie"></ion-nav-view>
    </ion-tab>
</ion-tabs>