<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="vm.closeEditModal()">Cancel</button>
        <h1 class="title">Edit Account</h1>
        <button class="button button-clear button-primary" ng-click="vm.edit()">Save</button>
    </ion-header-bar>
    <ion-content class="padding has-header">
        <form ng-submit="vm.edit()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="vm.account.name"/>
                </label>
            </div>
            <p>Icon:</p>
            <ion-list>
                <ion-radio ng-repeat="icon in vm.icons" ng-model="vm.account.icon" ng-value="icon" class="icon-left">
                    <i class="{{ icon }}"></i>
                    {{ icon }}
                </ion-radio>
            </ion-list>
        </form>
    </ion-content>
</ion-modal-view>