<ion-view view-title="My accounts">
    <ion-nav-buttons side="right">
        <button class="button button-stable" ng-click="vm.openAccountCreateModal()"><i class="icon ion-plus"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-button-right" ng-repeat="account in vm.accounts">
                <a ng-click="vm.openAccountEditModal(account._id);">
                    <i class="{{ account.icon }}"></i>
                    {{ account.name }}
                </a>
                <button class="button button-assertive" ng-click="vm.openAccountDeleteModal(account._id);"><i class="icon ion-trash-a"></i></button>
            </div>
        </div>
    </ion-content>
</ion-view>